body {
  font-family: 'Arial', sans-serif;
  background-color: #382245;
  color: #e8cc51;
  text-align: center;
}

h1 {
  color: #e8cc51;
  margin-bottom: 20px;
}

.song {
  background-color: #382245;
  color: #e8cc51;
  padding: 10px;
  margin-bottom: 10px;
}

.podcast {
  background-color: #e8cc51;
  color: #382245;
  padding: 10px;
  margin-bottom: 10px;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

button:hover {
  background-color: #45a049;
}

.status {
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
}
